<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>Book Review</title>
    <link rel="{% static 'main/style.css' %}" href="/css/master.css">
  </head>
  <header>
    <h1>Book Review</h1>
    <nav class='navbar navbar-default navbar-static-top text-center'>
      <img src="" alt="">
      <ul>
        <li><a href="{{'home'}}">Home</a>1</li>
        <h1><a href="{{'success'}}">Index</a></h1>
        <h1><a href="{{'success'}}">Success</a></h1>
      </ul>
    </nav>
  </header>
  <body>
    <div class="Register">
      <h1>Register</h1>
      <form class="" action="index.html" method="post">
        {% csrf_token %}
        <input type="TextField" name="" value="">
        <input type="Text" name="" value="">
        <input type="Submit" name="Login" value="Login">
      </form>
    </div>
    <div class="Login">

      <h1>Login</h1>
      <p>Exsisting Members Login here!</p>
      <form class="" action="index.html" method="post">
        {% csrf_token %}
        <input type="TextField" name="" value="">
        <input type="Text" name="" value="">
        <input type="Submit" name="" value="Login">
      </form>


    </div>


  </body>
  <footer>
    <p>Dan Brown</p>
  </footer>
</html>
