<!DOCTYPE html>
<html>
  <head>
      {% load staticfiles %}
      <meta charset="utf-8">
      <title>Book Review</title>
      <link rel="stylesheet" href="{% static 'main/css/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  </head>
<!-- ******************************************************************************* -->
  </head>
  <header>
    <h1>Book Review</h1>
      <div class='navbar navbar-default navbar-static-top text-center'>
        <img src="" alt="">
          <ul class='nav navbar-nav navbar-center'>
              <li><a href="{{'home'}}" class=>Home</a></li>
              <li><a href="{{'success'}}" class=>Index</a></li>
              <li><a href="{{'success'}}" class=>Success</a></li>
              <li><a href="{{'reviews'}}">Reviews</a></li>
              <li><a href="{{'account'}}">My Account</a></li>
              <li><a href="{{'logout'}}">Log Out</a></li>
          </ul>
      </div>
  </header><!-- ************************************************************************************************ -->

  <body class="container" role="main">
<!-- ************************************************************************************************ -->
<body>
      <div class="Register">
          <h1r</h1>
          <form class="" action="index.html" method="post">
            <fieldset class='col-md-9'>
              <legend>Register</legend>
                  {% csrf_token %}
                  First name:<br>
                  <input type="TextField" name="Fname" value="" >
                  Last name:<br>
                  <input type="Text" name="Lname" value="">
                  Email:<br>
                  <input type="Text" name="email" value="">
                  Birthdate:<br>
                  <input type="datetime" name="bd" value="">
                  First name:<br>
                  <input type="Text" name="" value="">
                  <input class="btn btn-primary" type="Submit" name="Login" value="Register">
              </fieldset>
          </form>
      </div>
<!-- ************************************************************************************************ -->

    <div class="Login">


      <p>Already Registered? Login here! </p>
      <form class="" action="index.html" method="post">
        {% csrf_token %}
        <fieldset class='col-md-9'>
          <legend>Login</legend>
          User Name <br>
            <input type="TextField" name="" value="">
          Password <br>
            <input type="Text" name="" value="">
            <input class="btn btn-primary" type="Submit" name="" value="Login">
        </fieldset>
      </form>


    </div>


  </body>
  <footer class='col-md-12'>
    <p>Dan Brown</p>
  </footer>
</html>
