<!DOCTYPE html>
<html>
  <head>
      {% load staticfiles %}
    <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'main/css/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>Success!</title>
  </head>
  <header>
    <h1>Welcome  user name (session.id)</h1>
      <h2>You have Successfully registered! </h2>
          <ul class='nav navbar-nav navbar-left' >
            <li><a href={{"/"}}>Index</a></li>
            <li><a href={{"home"}}>Home</a></li>
          </ul>
          <h1>below but in header</h1>
    </header>
<body>
<h1>below in body</h1>

  </body>
</html>
