*{
  margin: 15px;
  padding: auto;
  font-family: sans-serif;

}
body {
   background-image: url('main/img/books.jpg');

}
header{

}
footer {

}
h1 {

}
.Register {
  display: inline-block;
  padding: 10px;
  margin: auto;
}

fieldset {
  border: 1px red solid;
  /*width: auto;*/
  margin: auto;
  padding: 15px;
}
.Login{
  display: inline-block;
  padding: 10px;
  margin: auto;
}
