*{
  margin: 15px;
  padding: auto;
  font-family: sans-serif;

}
body {


}
header{

}
footer {

}
h1 {

}
.Register {
  display: inline-block;
  padding: 10px;
}

fieldset {
  border: 1px red solid;
  width: auto;
  margin: auto;
}
